.todo-list {
    align-self: center;
    min-width: 20rem;
    min-height: 20rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: whitesmoke;
}