.todo {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.todo__description {
    margin: 0;
    font-size: 12px;
}

.todo__description_status_done {
    text-decoration: line-through;
    color: grey;
}

.todo__edit-btn {
    margin-left: auto;
    width: 40px;
    font-size: 12px; 
    padding: 0;   
}

.todo__input {
    font-size: 12px;
}

.todo__remove-btn {
    width: 40px;
    font-size: 12px; 
    padding: 0;   
}